extends layout

block content
	.row.banner
		.col-12
			h1 Wifi Locator
				small &nbsp;Find places to work with wifi near you!
	.row
		.col-12.col-md-8
			.card
				.card-block
					h4
						a(href="/location") Starcups
						small &nbsp;
							i.fas.fa-star
							i.fas.fa-star
							i.fas.fa-star
							i.far.fa-star
							i.far.fa-star
						span.badge.badge-pill.badge-default.float-right 100m
					p.address 125 High Street, Reading, RG6 1PS
					.facilities
						span.badge.badge-warning Hot Drinks
						span.badge.badge-warning Food
						span.badge.badge-warning WiFi
			.card
				.card-block
					h4
						a(href="/location") Coffee Hero
						small &nbsp;
							i.fas.fa-star
							i.fas.fa-star
							i.fas.fa-star
							i.far.fa-star
							i.far.fa-star
						span.badge.badge-pill.badge-default.float-right 200m
					p.address 125 High Street, Reading, RG6 1PS
					.facilities
						span.badge.badge-warning Hot Drinks
						span.badge.badge-warning Food
						span.badge.badge-warning WiFi
			.card
				.card-block
					h4
						a(href="/location") Burger Queen
						small &nbsp;
							i.fas.fa-star
							i.fas.fa-star
							i.fas.fa-star
							i.far.fa-star
							i.far.fa-star
						span.badge.badge-pill.badge-default.float-right 10m
					p.address 125 High Street, Reading, RG6 1PS
					.facilities
						span.badge.badge-warning Food
						span.badge.badge-warning WiFi
		.col-12.col-md-4
			p.lead Looking for a seat and great wifi? With Wifi Locator helps, you can find the places to work when out and about.
    
